<!DOCTYPE html>
<html>
  <head>
    <title>Wiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <div class="user">
          <span>Hello, <strong><%= current_user.name %></strong></span>
          &nbsp;/&nbsp;
          <%= link_to 'Add Item', new_item_path %>
          &nbsp;/&nbsp;
          <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
